@using GLTV.Extensions
@using GLTV.Models.Objects
@model GLTV.Models.ViewModels.DeletedViewModel

@{
    ViewData["Title"] = "Deleted Items";
    ViewBag.DeletedNav = true;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.ZombieFiles.Any())
{
    <h2>Zombie files:</h2>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Filename
                </th>
                <th>
                    Size
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (TvItemFile item in Model.ZombieFiles)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FileName)
                    </td>
                    <td>
                        @Utils.GetFileSize(item)
                    </td>
                    <td>
                        <form asp-controller="Utility" asp-action="DeleteZombieFile">
                            <input type="hidden" name="FileName" value="@item.FileName" />
                            <input type="submit" value="Delete" class="btn btn-warning" />
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<h2>Deleted Tv Items</h2>
<h4>Total undeleted files size: @Utils.GetFileSize(Model.TotalUndeletedFileSize)</h4>

<table class="table deleted-items-table">
    <thead>
        <tr>
            <th>
                Info
            </th>
            <th>
                Files
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.TvItems)
        {
            <tr>
                <td>
                    <table class="inner-table">
                        <tbody>
                            <tr>
                                <th>Title</th>
                                <th>Time Inserted</th>
                            </tr>
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Title)</td>
                                <td>@Html.DisplayFor(modelItem => item.TimeInserted)</td>
                            </tr>
                            <tr>
                                <th>Author</th>
                                <th>Type</th>
                            </tr>
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Author)</td>
                                <td>@Html.DisplayFor(modelItem => item.Type)</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td>
                    <label>Total file size:</label> @Utils.GetTotalFileSize(item)<br />
                    <p>@Html.Raw(Utils.GetFilesList(item))</p>
                </td>
                <td>
                    @if (item.Files.Any(x => x.Deleted == false))
                    {
                        <form asp-controller="Utility" asp-action="DeleteFiles" asp-route-id="@item.ID">
                            <input type="submit" value="Delete Files" class="btn btn-warning" />
                        </form>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
