@using GLTV.Extensions
@using GLTV.Models.Objects
@model GLTV.Models.ViewModels.ClientEventsViewModel

@{
    ViewData["Title"] = "Client Activity";
    ViewBag.ClientNav = true;
    Layout = "~/Views/Shared/_Layout.cshtml";
    string ALL_VALUE = "All";
}

<h2>Actions Log</h2>

<h3>Last program requests</h3>
<table class="table">
    <thead>
        <tr>
            <th>
                Source
            </th>
            <th>
                Description
            </th>
            <th>
                Last Ping
            </th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.ActiveTvScreens)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IpAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastHandshake) (@Utils.GetElapsedTime(item.LastHandshake))
            </td>
        </tr>
    }
    </tbody>
</table>

<form class="form-inline pull-right" style="padding: 10px;">
    <div class="form-group">
        <label>Filter by source:</label>
        <select class="form-control" id="sourceDropdown">
            <option value="All">@(ALL_VALUE)</option>
            @{
                foreach (TvScreen tvScreen in Model.ActiveTvScreens)
                {
                    <option value="@(tvScreen.IpAddress)">@tvScreen.IpAddress</option>
                }
            }
        </select>
    </div>
    <div class="form-group">
        <label>Filter by type:</label>
        <select class="form-control" id="typeDropdown">
            <option value="All">@(ALL_VALUE)</option>
            @{
                foreach (WebClientLogType type in Enum.GetValues(typeof(WebClientLogType)).Cast<WebClientLogType>())
                {
                    <option value="@(type)">@type</option>
                }
            }
        </select>
    </div>
</form>

<table class="table" id="clientItemsTable">
    <thead>
        <tr>
            <th>
                Type
            </th>
            <th>
                Time Inserted
            </th>
            <th>
                Source
            </th>
            <th>
                Message
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ClientEvents)
        {
            <tr>
                <td class="type-col">
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeInserted)
                </td>
                <td class="source-col">
                    @Html.DisplayFor(modelItem => item.Source)
                </td>
                <td>
                    <p>@Html.Raw(item.Message)</p>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    $(function() {
        var selectedSource = $('#sourceDropdown').val();
        var selectedType = $('#typeDropdown').val();

        $('#sourceDropdown').change(function () {
            selectedSource = $(this).val();
            filterTable(selectedSource, selectedType);
        });

        $('#typeDropdown').change(function () {
            selectedType = $(this).val();
            filterTable(selectedSource, selectedType);
        });
    });
    
    function filterTable(selectedSource, selectedType) {
        $('#clientItemsTable > tbody > tr').each(function (index) {
            var currentSource = $(this).find('td.source-col').text().trim();
            var currentType = $(this).find('td.type-col').text().trim();

            var sourceOk = false;
            var typeOk = false;

            if (selectedSource == "@(ALL_VALUE)") {
                sourceOk = true;
            } else {
                if (currentSource == selectedSource) {
                    sourceOk = true;
                } else {
                    sourceOk = false;
                }
            }
            if (selectedType == "@(ALL_VALUE)") {
                typeOk = true;
            } else {
                if (currentType == selectedType) {
                    typeOk = true;
                } else {
                    typeOk = false;
                }
            }

            if (typeOk && sourceOk) {
                $(this).show();
            } else
            {
                $(this).hide();
            }
        });
    }
</script>
