@using System.ComponentModel.DataAnnotations
@using GLTV.Extensions
@model IEnumerable<GLTV.Models.TvItem>

@{
    ViewData["Title"] = "Index";
    ViewBag.DeletedNav = true;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Deleted Tv Items</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeInserted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                Files
            </th>
            <th>
                Total file size
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeInserted)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    <p>@Html.Raw(Utils.GetFilesList(item))</p>
                </td>
                <td>
                    @Utils.GetTotalFileSize(item)
                </td>
                <td>
                    @if (item.Files.Any(x => x.Deleted == false))
                    {
                        <form asp-controller="TvItems" asp-action="DeleteFiles" asp-route-id="@item.ID">
                            <input type="submit" value="Delete Files" class="btn btn-warning" />
                        </form>
                    }
            </td>
        </tr>
    }
    </tbody>
</table>
