@using GLTV.Extensions
@using GLTV.Models.Objects
@using Microsoft.AspNetCore.Http
@inject UserManager<ApplicationUser> UserManager
@model GLTV.Models.ViewModels.InzeratyViewModel

@{
    ViewData["Title"] = "Ignorované";
    ViewBag.IgnoredNav = true;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Poznačené Inzeráty</h2>

<form asp-controller="Inzeraty" asp-action="Ignored" method="get" class="form-inline">
    @await Html.PartialAsync("_FilterForm", Model)
</form>

<table class="table" id="inzeratyTable">
    <thead>
        <tr>
            <th></th>
            <th>
                Typ
            </th>
            <th>
                Cena
            </th>
            <th>
                Lokácia
            </th>
            <th>
                Url
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Inzeraty)
        {
            <tr data-id="@item.ID">
                <td>
                    <button class="btn btn-default btn-sm" onclick="cancelIgnoredInzerat(@item.ID)">Zrušiť</button>
                    <button class="btn btn-success btn-sm" onclick="markInzerat(@item.ID)">Označiť</button>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)<br />
                    (@Html.DisplayFor(modelItem => item.Category))
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)<br />
                    <small>@Html.DisplayFor(modelItem => item.DateInserted)</small>
                </td>
                <td>
                    <a target="_blank" href="@Html.DisplayFor(modelItem => item.Url)">@Html.DisplayFor(modelItem => item.Title)</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript">
    function markInzerat(id) {
        $.get("/api/markInzerat/" + id,
            function (data) {
                console.log("mark inzerat with id " + data.id + " is marked by " + data.username);
                $('#inzeratyTable tbody tr[data-id="' + data.id + '"]').addClass('hidden');
            })
            .fail(function (data) {
                console.log("mark inzerat with id " + id + " ERROR=" + data.message);
            });
    }
    function cancelIgnoredInzerat(id) {
        $.get("/api/cancelIgnoredInzerat/" + id,
            function (data) {
                console.log("cancelIgnoredInzerat with id " + data.id + " is marked by " + data.username);
                $('#inzeratyTable tbody tr[data-id="' + data.id + '"]').addClass('hidden');
            })
            .fail(function (data) {
                console.log("cancelIgnoredInzerat with id " + id + " ERROR=" + data.message);
            });
    }

</script>