@using GLTV.Extensions
@using GLTV.Models.Objects
@model GLTV.Models.ViewModels.InzeratyViewModel

@{
    ViewData["Title"] = "Ads";
    ViewBag.IndexNav = true;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Inzeraty</h2>

<form asp-controller="Inzeraty" asp-action="Index" method="get">
    <p>
        <label>Typ</label>
        <select asp-for="InzeratType" asp-items="Model.InzeratyTypes">
            <option value="">All</option>
        </select>

        <label>Kategória</label>
        <select asp-for="InzeratCategory" asp-items="Model.InzeratyCategories">
            <option value="">All</option>
        </select>

        <label>Lokácia</label>
        <select asp-for="Location" asp-items="Model.Locations">
            <option value="">All</option>
        </select>

        Cena do: <input type="number" asp-for="PriceString" />
        <input type="submit" value="Filter" />
    </p>
    @{
        var prevDisabled = !Model.Inzeraty.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.Inzeraty.HasNextPage ? "disabled" : "";
    }

    <a asp-action="Index"
       asp-route-pageNumber="@(Model.Inzeraty.PageIndex - 1)"
       asp-route-inzeratType="@Model.InzeratType"
       asp-route-inzeratCategory="@Model.InzeratCategory"
       asp-route-location="@Model.Location"
       asp-route-priceString="@Model.PriceString"
       class="btn btn-default @prevDisabled">
        Previous
    </a>
    <a asp-action="Index"
       asp-route-pageNumber="@(Model.Inzeraty.PageIndex + 1)"
       asp-route-inzeratType="@Model.InzeratType"
       asp-route-inzeratCategory="@Model.InzeratCategory"
       asp-route-location="@Model.Location"
       asp-route-priceString="@Model.PriceString"
       class="btn btn-default @nextDisabled">
        Next
    </a>
    <p>Nájdených výsledkov @(Model.Inzeraty.TotalCount)</p>
    <p>Stránka @(Model.Inzeraty.PageIndex)/@(Model.Inzeraty.TotalPages)</p>
</form>

<table class="table" id="inzeratyTable">
    <thead>
        <tr>
            <th>
                Typ
            </th>
            <th>
                Cena
            </th>
            <th>
                Lokácia
            </th>
            <th>
                Url
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Inzeraty)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)<br />
                    (@Html.DisplayFor(modelItem => item.Category))
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)<br />
                    <small>@Html.DisplayFor(modelItem => item.DateInserted)</small>
                </td>
                <td>
                    <a target="_blank" href="@Html.DisplayFor(modelItem => item.Url)">@Html.DisplayFor(modelItem => item.Title)</a>
                </td>
                <td>
                    <a asp-controller="TvItems" asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-controller="TvItems" asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-controller="TvItems" asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>



@*<h2 style="padding-top: 100px;">Expired TvItems</h2>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Title
                </th>
                <th>
                    Status
                </th>
                <th>
                    Author
                </th>
                <th>
                    Total Duration
                </th>
                <th>
                    Type
                </th>
                <th>
                    Locations
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ExpiredTvItems)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        <p class="time-hint">@Html.Raw(Utils.GetStatusFormat(item))</p>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Author)
                    </td>
                    <td>
                        @Utils.GetFormattedDuration(item)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        @Utils.GetLocationsString(item.Locations)
                    </td>
                    <td>
                        <a asp-controller="TvItems" asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                        <a asp-controller="TvItems" asp-action="Details" asp-route-id="@item.ID">Details</a> |
                        <form asp-controller="TvItems" asp-action="Delete" asp-route-id="@item.ID">
                            <input type="submit" value="Delete" class="btn btn-danger btn-sm" />
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>*@

<script type="text/javascript">
    $(function () {
        $('#locationRadioDiv .location-radio').on('change',
            function() {
                var value = $(this).val();

                $('#activeItemsTable > tbody > tr > td.location-col').each(function(index) {
                    var text = $(this).text().trim();

                    if (value == -1) {
                        $(this).closest('tr').show();
                        return;
                    }

                    if (text.includes("@Constants.KE") && value == @((int)Location.Kosice)) {
                        $(this).closest('tr').show();
                        return;
                    } else if (text.includes("@Constants.ZA") && value == @((int)Location.Zilina)) {
                        $(this).closest('tr').show();
                        return;
                    } else if (text.includes("@Constants.BB") && value == @((int)Location.BanskaBystrica)) {
                        $(this).closest('tr').show();
                        return;
                    } else {
                        $(this).closest('tr').hide();
                        return;
                    }
                });
            });
    });

</script>