@using GLTV.Extensions
@using GLTV.Models.Objects
@using Microsoft.AspNetCore.Http
@inject UserManager<ApplicationUser> UserManager
@model GLTV.Models.ViewModels.InzeratyViewModel

@{
    ViewData["Title"] = "Poznačené";
    ViewBag.MarkedNav = true;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Poznačené Inzeráty</h2>

<form asp-controller="Inzeraty" asp-action="Marked" method="get" class="form-inline">
    @await Html.PartialAsync("_FilterForm", Model)
</form>
@{
    var prevDisabled = !Model.Inzeraty.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Inzeraty.HasNextPage ? "disabled" : "";
}
<br />
<a asp-action="Marked" asp-controller="Inzeraty"
   asp-route-pageNumber="@(Model.Inzeraty.PageIndex - 1)"
   asp-route-inzeratType="@Model.InzeratType"
   asp-route-inzeratCategory="@Model.InzeratCategory"
   asp-route-location="@Model.Location"
   asp-route-priceString="@Model.PriceString"
   id="prev-button"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Marked" asp-controller="Inzeraty"
   asp-route-pageNumber="@(Model.Inzeraty.PageIndex + 1)"
   asp-route-inzeratType="@Model.InzeratType"
   asp-route-inzeratCategory="@Model.InzeratCategory"
   asp-route-location="@Model.Location"
   asp-route-priceString="@Model.PriceString"
   id="next-button"
   class="btn btn-default @nextDisabled">
    Next
</a>
<p>Nájdených výsledkov @(Model.Inzeraty.TotalCount)</p>
<p>Stránka @(Model.Inzeraty.PageIndex)/@(Model.Inzeraty.TotalPages)</p>

<table class="table" id="inzeratyTable">
    <thead>
        <tr>
            <th></th>
            <th>
                Typ
            </th>
            <th>
                Cena
            </th>
            <th>
                Lokácia
            </th>
            <th>
                Url
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Inzeraty)
        {
            <tr data-id="@item.ID">
                <td>
                    <button class="btn btn-default btn-sm" onclick="cancelMarkedInzerat(@item.ID)">Zrušiť</button>
                    <button class="btn btn-danger btn-sm" onclick="ignoreInzerat(@item.ID)">Ignorovať</button>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)<br />
                    (@Html.DisplayFor(modelItem => item.Category))
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)<br />
                    <small>@Html.DisplayFor(modelItem => item.DateInserted)</small>
                </td>
                <td>
                    <a target="_blank" href="@Html.DisplayFor(modelItem => item.Url)">@Html.DisplayFor(modelItem => item.Title)</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript">
    function ignoreInzerat(id) {
        $.get("/api/ignoreInzerat/" + id,
            function (data) {
                console.log("ignore inzerat with id " + data.id + " is ignored by " + data.username);
                $('#inzeratyTable tbody tr[data-id="' + data.id + '"]').addClass('hidden');
            })
            .fail(function (data) {
                console.log("ignore inzerat with id " + id + " ERROR=" + data.message);
            });
    }
    function cancelMarkedInzerat(id) {
        $.get("/api/cancelMarkedInzerat/" + id,
            function (data) {
                console.log("cancelMarkedInzerat with id " + data.id + " is marked by " + data.username);
                $('#inzeratyTable tbody tr[data-id="' + data.id + '"]').addClass('hidden');
            })
            .fail(function (data) {
                console.log("cancelMarkedInzerat with id " + id + " ERROR=" + data.message);
            });
    }

</script>